<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.user.mapper.UserMapper">

  <!-- 1. 지역코드 조회 -->
  <select
    id="selectSigunguByAreaCode" parameterType="Long" resultType="String"> SELECT area_sigungu FROM
    TBL_AREA_C WHERE area_code_sq = #{areaCodeSq} LIMIT 1 </select>

  <!-- 2. 주소 INSERT -->
  <insert id="insertAddress"
    parameterType="com.example.demo.domain.user.dto.AddressDTO"
    useGeneratedKeys="true" keyProperty="addressSq"> INSERT INTO TBL_ADDRESS_S ( zonecode, address,
    detail_address, sigungu, latitude, longitude, area_code_sq ) VALUES ( #{zonecode}, #{address},
    #{detailAddress}, #{sigungu}, #{latitude}, #{longitude}, #{areaCodeSq} ) </insert>

  <!-- 3. 사용자 INSERT -->
  <insert
    id="insertUser" parameterType="com.example.demo.domain.user.dto.UserDTO"
    useGeneratedKeys="true" keyProperty="userSq"> INSERT INTO TBL_USER_M ( address_sq, user_id,
    user_email, user_pw, user_nm, user_gender_cd, user_phone_num, user_birth_dt, user_type_cd,
    user_signup_type_cd ) VALUES ( #{addressSq}, #{userId}, #{userEmail}, #{userPw}, #{userNm},
    #{userGenderCd}, #{userPhoneNum}, #{userBirthDt}, #{userTypeCd}, #{userSignupTypeCd} ) </insert>

  <!-- 기업 프로필 INSERT -->
  <insert id="insertCompanyProfile"
    parameterType="com.example.demo.domain.user.dto.CompanyProfileDTO"> INSERT INTO TBL_COMPANY_S (
    user_sq, address_sq, company_nm, company_auth_status_cd, company_agreed_terms_yn ) VALUES (
    #{userSq}, #{addressSq}, #{companyNm}, #{companyAuthStatusCd}, 'Y' ) </insert>

  <!-- 아이디 중복 확인 -->
  <select id="existsByUserId"
    parameterType="string" resultType="boolean"> SELECT EXISTS ( SELECT 1 FROM TBL_USER_M WHERE
    user_id = #{userId} ) </select>

  <!-- 이메일 중복 확인 -->
  <select id="existsByUserEmail"
    parameterType="string" resultType="boolean"> SELECT EXISTS ( SELECT 1 FROM TBL_USER_M WHERE
    user_email = #{userEmail} AND user_is_deleted_yn = 'N' ) </select>

  <!-- 휴대폰 번호 중복 확인 -->
  <select
    id="existsByUserPhoneNum" parameterType="string" resultType="boolean"> SELECT EXISTS ( SELECT 1
    FROM TBL_USER_M WHERE user_phone_num = #{userPhoneNum} AND user_is_deleted_yn = 'N' ) </select>


  <!-- JWT 토큰 -->

  <select
    id="findByUserId" parameterType="string"
    resultType="com.example.demo.domain.user.dto.UserDTO"> SELECT user_sq AS userSq, user_id AS
    userId, user_email AS userEmail, user_pw AS userPw, user_nm AS userNm, user_type_cd AS
    userTypeCd, user_is_deleted_yn AS userIsDeletedYn, user_refresh_token AS userRefreshToken FROM
    TBL_USER_M WHERE user_id = #{userId} AND user_is_deleted_yn = 'N'</select>
    
   <select
		id="findUserByUserId" parameterType="string"
		resultType="com.example.demo.domain.user.dto.UsersDTO"> SELECT user_sq AS userSq, user_id AS
		userId, user_email AS userEmail, user_pw AS userPw, user_nm AS userNm, user_type_cd AS
		userTypeCd, user_is_deleted_yn AS userIsDeletedYn, user_refresh_token AS userRefreshToken, user_is_activate_yn AS userIsActivateYn FROM
		TBL_USER_M WHERE user_id = #{userId} 
   </select> 
   

  <update id="updateRefreshToken"> UPDATE TBL_USER_M SET user_refresh_token = #{refreshToken},
    user_modified_at_dtm = NOW() WHERE user_sq = #{userSq} </update>

  <select
    id="findByRefreshToken" parameterType="string"
    resultType="com.example.demo.domain.user.dto.UserDTO"> SELECT user_sq, address_sq, user_id,
    user_email, user_pw, user_nm, user_gender_cd, user_phone_num, user_birth_dt, user_type_cd,
    user_signup_type_cd, user_agreed_privacy_policy_yn, user_created_at_dtm, user_modified_at_dtm,
    user_is_deleted_yn, user_refresh_token FROM TBL_USER_M WHERE user_refresh_token =
    #{refreshToken} AND user_is_deleted_yn = 'N' </select>

  <select id="findUserInfoByUserSq"
    resultType="com.example.demo.domain.user.dto.response.LoginResponseDTO"> SELECT u.user_sq AS
    userSq, u.user_nm AS userNm, u.user_type_cd AS userTypeCd, a.latitude, a.longitude,
    u.user_signup_type_cd AS userSignupTypeCd, c.company_auth_status_cd AS companyAuthStatusCd, (SELECT CASE WHEN COUNT(*) > 0 THEN 'Y' ELSE
    'N' END FROM tbl_company_member_r cm WHERE cm.user_sq = u.user_sq AND cm.company_member_leave_dt
    IS NULL) AS isAffiliated,
    (SELECT cm.company_sq FROM tbl_company_member_r cm
     WHERE cm.user_sq = u.user_sq AND cm.company_member_leave_dt IS NULL LIMIT 1) AS affiliatedCompanySq
    FROM tbl_user_m u LEFT JOIN tbl_address_s a ON u.address_sq =
    a.address_sq LEFT JOIN tbl_company_s c ON u.user_sq = c.user_sq WHERE u.user_sq = #{userSq} AND
    u.user_is_deleted_yn = 'N' </select>

  <update id="deleteRefreshTokenByUserSq" parameterType="long"> UPDATE TBL_USER_M SET
    user_refresh_token = NULL WHERE user_sq = #{userSq} </update>


  <!-- 아이디 찾기 -->

  <select id="findUserInfoByNameAndEmail" parameterType="map" resultType="map"> SELECT user_id AS
    userId, user_nm AS userNm, user_type_cd AS userTypeCd, user_created_at_dtm AS userCreatedAtDtm
    FROM TBL_USER_M WHERE user_nm = #{name} AND user_email = #{email} AND user_is_deleted_yn = 'N' </select>

  <select id="findCommonCodeNameByCodeSq" parameterType="long" resultType="string"> SELECT
    common_code_nm FROM TBL_COMMON_CODE_C WHERE common_code_sq = #{codeSq} AND
    common_code_is_active_yn = 'Y' </select>


  <select id="findUserByInfo" parameterType="map"
    resultType="com.example.demo.domain.user.dto.UserDTO"> SELECT * FROM TBL_USER_M WHERE user_id =
    #{userId} AND user_nm = #{userNm} AND user_email = #{userEmail} AND user_is_deleted_yn = 'N' </select>


  <select id="findPasswordByUserSq" resultType="string"> SELECT user_pw FROM TBL_USER_M WHERE
    user_sq = #{userSq} </select>

  <update id="updatePasswordByUserSq"> UPDATE TBL_USER_M SET user_pw = #{newPassword} WHERE user_sq
    = #{userSq} </update>


  <select id="findByEmail" resultType="com.example.demo.domain.user.dto.UserDTO"
    parameterType="string"> SELECT user_sq, user_id, user_pw, user_nm, user_type_cd,
    user_is_deleted_yn, user_email FROM TBL_USER_M WHERE user_email = #{email} AND user_is_deleted_yn = 'N'</select>

  <select id="selectEmailByUserSq" resultType="string"> SELECT user_email FROM TBL_USER_M WHERE
    user_sq = #{userSq} AND user_is_deleted_yn = 'N' </select>
</mapper>