<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.community.mapper.BoardMapper">

	<select id="findByIdBoard" resultType="com.example.demo.domain.community.entity.Board"> SELECT *
		FROM TBL_BOARD_M WHERE board_sq = #{boardSq} AND board_type_cd = #{boardTypeCd} </select>

	<select id="findAll" resultType="com.example.demo.domain.community.entity.Board"> SELECT * FROM
		TBL_BOARD_M WHERE board_is_deleted_yn = 'N' AND board_type_cd = #{boardTypeCd} <if
			test="boardAdoptStatusCd != null"> AND board_adopt_status_cd = #{boardAdoptStatusCd} </if>
		    <if
			test="tag != null and tag != ''"> AND ( board_sq IN (SELECT board_sq FROM
		TBL_BOARD_SKILL_TAG_S WHERE skill_tag_nm = #{tag}) OR board_sq IN (SELECT board_sq FROM
		TBL_BOARD_NORMAL_TAG_S WHERE normal_tag_nm = #{tag}) ) </if>
        <if
			test="keyword != null and keyword != ''">
			<choose>
				<when test="searchType == 'title'"> AND board_ttl LIKE CONCAT('%', #{keyword}, '%') </when>
				<when test="searchType == 'content'"> AND board_description_edt LIKE CONCAT('%',
		#{keyword}, '%') </when>
				<when test="searchType == 'all'"> AND (board_ttl LIKE CONCAT('%', #{keyword}, '%')
		OR board_description_edt LIKE CONCAT('%', #{keyword}, '%')) </when>
			</choose>
		</if>
	    <if
			test="skillTags != null and skillTags.size > 0"> AND board_sq IN ( SELECT DISTINCT
		board_sq FROM TBL_BOARD_SKILL_TAG_S WHERE skill_tag_sq IN <foreach item="tSq"
				collection="skillTags" open="(" separator="," close=")"> #{tSq} </foreach> ) </if>
	    <choose>
			<when test="sortType == 'latest'"> ORDER BY board_created_at_dtm DESC </when>
			<when test="sortType == 'oldest'"> ORDER BY board_created_at_dtm ASC </when>
			<when test="sortType == 'view'"> ORDER BY board_view_cnt DESC </when>
			<when test="sortType == 'comment'"> ORDER BY board_comment_cnt DESC </when>
			<when test="sortType == 'recommend'"> ORDER BY board_recommend_cnt DESC </when>
			<otherwise> ORDER BY board_created_at_dtm DESC <!-- 기본값: 최신순 -->
			</otherwise>
		</choose>
		LIMIT #{size} OFFSET #{offset} </select>

	<select id="findAllCnt" resultType="Long"> SELECT COUNT(*) FROM TBL_BOARD_M WHERE
		board_is_deleted_yn = 'N' AND board_type_cd = #{boardTypeCd} <if
			test="boardAdoptStatusCd != null"> AND board_adopt_status_cd = #{boardAdoptStatusCd} </if>
		    <if
			test="tag != null and tag != ''"> AND ( board_sq IN (SELECT board_sq FROM
		TBL_BOARD_SKILL_TAG_S WHERE skill_tag_nm = #{tag}) OR board_sq IN (SELECT board_sq FROM
		TBL_BOARD_NORMAL_TAG_S WHERE normal_tag_nm = #{tag}) ) </if>
        <if
			test="keyword != null and keyword != ''">
			<choose>
				<when test="searchType == 'title'"> AND board_ttl LIKE CONCAT('%', #{keyword}, '%') </when>
				<when test="searchType == 'content'"> AND board_description_edt LIKE CONCAT('%',
		#{keyword}, '%') </when>
				<when test="searchType == 'all'"> AND (board_ttl LIKE CONCAT('%', #{keyword}, '%')
		OR board_description_edt LIKE CONCAT('%', #{keyword}, '%')) </when>
			</choose>
		</if>
	    <if
			test="skillTags != null and skillTags.size > 0"> AND board_sq IN ( SELECT DISTINCT
		board_sq FROM TBL_BOARD_SKILL_TAG_S WHERE skill_tag_sq IN <foreach item="tSq"
				collection="skillTags" open="(" separator="," close=")"> #{tSq} </foreach> ) </if>
	</select>

	<insert id="insert" parameterType="com.example.demo.domain.community.entity.Board"
		useGeneratedKeys="true" keyProperty="boardSq" keyColumn="board_sq"> INSERT INTO TBL_BOARD_M
		(user_sq, board_ttl, board_description_edt, board_adopt_status_cd, board_typ, board_type_cd)
		VALUES (#{userSq}, #{boardTtl}, #{boardDescriptionEdt}, 1501, #{boardTyp}, #{boardTypeCd}) </insert>

	<update id="update" parameterType="com.example.demo.domain.community.entity.Board"> UPDATE
		TBL_BOARD_M SET board_ttl = #{boardTtl}, board_description_edt = #{boardDescriptionEdt},
		board_adopt_status_cd = #{boardAdoptStatusCd}, board_modified_at_dtm = NOW() WHERE board_sq =
		#{boardSq} </update>

	<update id="delete" parameterType="com.example.demo.domain.community.entity.Board"> UPDATE
		TBL_BOARD_M SET board_is_deleted_yn = 'Y' WHERE board_sq = #{boardSq} AND user_sq =
		#{userSq} </update>

	<update id="addViewCnt" parameterType="com.example.demo.domain.community.entity.Board"> UPDATE
		TBL_BOARD_M SET board_view_cnt = board_view_cnt + 1 WHERE board_sq = #{boardSq} </update>

	<update id="updateCommentCnt" parameterType="com.example.demo.domain.community.entity.Board">
		UPDATE TBL_BOARD_M SET board_comment_cnt = ( SELECT COUNT(*) FROM TBL_BOARD_COMMENT_S WHERE
		board_sq = #{boardSq} AND comment_is_deleted_yn = 'N' ) WHERE board_sq = #{boardSq} </update>

	<update id="updateRecommendCnt" parameterType="com.example.demo.domain.community.entity.Board">
		UPDATE TBL_BOARD_M SET board_recommend_cnt = ( SELECT COUNT(*) FROM TBL_RECOMMENDATION_S
		WHERE board_sq = #{boardSq} ) WHERE board_sq = #{boardSq} </update>

	<insert id="insertFile"> INSERT INTO TBL_BOARD_ATTACHMENT_S ( board_sq, file_sq ) VALUES (
		#{boardSq}, #{fileSq} ) </insert>

	<select id="findFiles" resultType="Long"> SELECT file_sq FROM TBL_BOARD_ATTACHMENT_S WHERE
		board_sq = #{boardSq} </select>

	<select id="findFile" resultType="com.example.demo.domain.community.entity.BoardAttachment">
		SELECT * FROM TBL_COMMON_FILE_S WHERE file_sq = #{fileSq} </select>

	<delete id="deleteBoardFile"> DELETE FROM TBL_BOARD_ATTACHMENT_S WHERE board_sq = #{boardSq} AND
		file_sq = #{fileSq} </delete>

	<update id="deleteFile" parameterType="Long"> UPDATE TBL_COMMON_FILE_S SET file_is_deleted_yn =
		'Y' WHERE file_sq = #{fileSq} </update>

	<select id="findByIdOnly" resultType="com.example.demo.domain.community.entity.Board"> SELECT
		* FROM tbl_board_m WHERE board_sq = #{boardSq} </select>

</mapper>
