<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.community.mapper.RecommendationMapper">

    <select id="findByBoardSq" resultType="com.example.demo.domain.community.entity.Recommendation" parameterType="Long">
        SELECT * FROM TBL_RECOMMENDATION_S WHERE board_sq = #{boardSq}
        AND user_sq = #{userSq}
    </select>

    <select id="findByAnswerSq" resultType="com.example.demo.domain.community.entity.Recommendation" parameterType="Long">
        SELECT * FROM TBL_RECOMMENDATION_S WHERE answer_sq = #{answerSq}
        AND user_sq = #{userSq}
    </select>

    <select id="findByCommentSq" resultType="com.example.demo.domain.community.entity.Recommendation" parameterType="Long">
        SELECT * FROM TBL_RECOMMENDATION_S WHERE comment_sq = #{commentSq}
        AND user_sq = #{userSq}
    </select>

    <insert id="insert" parameterType="com.example.demo.domain.community.entity.Recommendation" useGeneratedKeys="true" keyProperty="recommendationSq" keyColumn="recommendation_sq">
        INSERT INTO TBL_RECOMMENDATION_S (user_sq, board_sq, answer_sq, comment_sq, recommendation_type_cd) 
        VALUES (#{userSq}, #{boardSq}, #{answerSq}, #{commentSq}, #{recommendationTypeCd})
    </insert>

    <delete id="delete" parameterType="Long">
        DELETE FROM TBL_RECOMMENDATION_S 
		WHERE recommendation_sq = #{recommendationSq}
    </delete>

    <delete id="deleteAll" parameterType="com.example.demo.domain.community.entity.Recommendation">
        DELETE FROM TBL_RECOMMENDATION_S
        
        <if test="boardSq != null">
        	WHERE board_sq = #{boardSq}
	    </if>
        <if test="answerSq != null">
        	WHERE answer_sq = #{answerSq}
	    </if>
        <if test="commentSq != null">
        	WHERE comment_sq = #{commentSq}
	    </if>
    </delete>

</mapper>