<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.domain.community.mapper.ReportMapper">

    <insert id="insertReport" parameterType="com.example.demo.domain.community.entity.Report">
        INSERT INTO tbl_report_s ( report_user_sq, report_target_type_cd, report_target_sq,
        report_reason_cd, report_content_txt, report_process_status_cd, report_created_at_dtm )
        VALUES ( #{reportUserSq}, #{reportTargetTypeCd}, #{reportTargetSq}, #{reportReasonCd},
        #{reportContentTxt}, 2901, NOW() ) </insert>

    <select id="findCodesByParent"
        resultType="com.example.demo.domain.community.dto.CommonCodeDTO"> SELECT common_code_sq AS
        commonCodeSq, common_code_nm AS commonCodeNm, parent_common_code_sq AS parentCommonCodeSq
        FROM tbl_common_code_c WHERE parent_common_code_sq = #{parentSq} AND
        common_code_is_active_yn = 'Y' ORDER BY common_code_sq ASC </select>

</mapper>